@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação de 2º Grau</h1>
    <!--
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <h4>Resolução das raízes de uma equação de segundo grau</h4>
</div>

<form>
    @*
         Este comentário só será visível no Visual Studio.
         Neste formulário falta aplicar CSS aos seus elementos.
    *@
    <div>
        Especifique, por favor, os coeficientes da solução: <br />
        Nota: Utilizar "," (vírgula) em vez de "." (ponto) para separar as casas decimais <br />
        @*
            O ID é um identificador que é lido APENAS no browser
            O NAME é lido no servidor
        *@
        A: <input type="text" id="A" name="A"/> <br />
        B: <input type="text" id="B" name="B" /> <br />
        C: <input type="text" id="C" name="C" /> <br />
        <input type="submit" value="Calcular" asp-action="Resultado"/>
    </div>
</form>