@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação de 2º Grau</h1>
    <!--
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <h4>Resolução das raízes de uma equação de segundo grau</h4>
</div>


<form>
    @*
         Este comentário só será visível no Visual Studio.
         Neste formulário falta aplicar CSS aos seus elementos.
    *@
    <div>
        Especifique, por favor, os coeficientes da solução: <br />
        A: <input type="text"/> <br />
        B: <input type="text"/> <br />
        C: <input type="text"/> <br />
        <input type="submit" value="Calcular"/>
    </div>
</form>