@{
    ViewData["Title"] = "Resultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Equação de 2º Grau</h1>
    <h4>Resultado</h4>
    <p>Raiz 1: @ViewBag.Res1</p>
    <p>Raiz 2: @ViewBag.Res2</p>
    <a asp-action="Index">Voltar</a>
</div>